.header {
    width: 100%;
    height: auto;
    padding: 20px 50px;
    color: var(--secondary);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    border-right: 1px solid var(--aqua);
    padding: 0 20px;
}

.nav {

    width: 100%;
}

ul {
     list-style-type: none;
     display: flex;
}

.nav_a {
    color: var(--secondary);
    margin-left: 20px;
}

.nav_a:hover {
    color: var(--aqua);
    transition: 0.3s;
    text-shadow: 0 0 20px #00ffea, 0 0 40px #00ffea, 0 0 60px #00ffea;
}

@media (max-width: 799px) {

    .header {
        padding: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .box {

        border-right: transparent;
          border-bottom: 1px solid var(--aqua);
        padding: 10px 20px;
        width: 100%;
        margin-bottom: 5px;
    }

    .nav_a {
        margin: 20px;
    }

}